<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="/clusters/<%= name %>"><%= name %> ( <%= clusters.length %> ) </a></h1>

    <% for (var i in clusters) { var cluster = clusters[i]; %>
    <%- render_partial('clusters/cluster', {render_partial: render_partial, name: name, meta: meta, cluster: cluster, val: '', dictionary: dictionary}) %>
    <% } %>
  </body>
</html>
