{
  "type": "mongo",
  "mongo": {
    "host": "localhost",
    "port": 27017,
    "database": "analysis",
    "collection": "dictionary"
  },
  "cache": {
    "host": "localhost",
    "port": 6379,
    "db": 0
  }
}
