{
  name: 'test1',
  src: {
    type        : 'replset',
    hosts       : ['localhost:27017'],
    authdbname  : null,
    user        : null,
    password    : null,
  },
  dst: {
    host       : 'localhost',
    port       : 27018,
    authdbname  : null,
    user        : null,
    password    : null,
    database    : 'test',
    collection  : 'last'
  },
  options: {
    loglv: 'info',
    targetDB: {
      'test': 'test2',
      '*': false
    },
    syncIndex: {
      create: true,
      drop: false
    },
    syncCommand: {
      '*': false,
      drop: true,
    },
    bulkInterval: 1000,
    bulkLimit: 5000,
  }
}
