<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <input id="word" type="text"></input>
    <button id="search">検索</button>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script><!--
$(function(){
  $('#search').click(function(e){
    new_location = location.href;
    if ( location.href[location.href.length-1] !== '/' ) {
      new_location += '/'
    }
    new_location += $('#word').val();
    location.href = new_location;
  });
});
	--></script>
  </body>
</html>
